.planet-card {
    margin: 10px;
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .image-container {
    flex: 1;
    text-align: center;
  }
  
  .image-container img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .planet-name {
    margin-top: 5px;
    font-weight: bold;
  }
  
  .content-container {
    flex: 2;
    margin-left: 10px;
  }
  
  .description {
    font-style: italic;
  }
  
  .captain {
    margin-top: 5px;
  }
  
  .status-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .status {
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .green {
    color: lightgreen;
    /* color: white; */
  }
  
  .red {
    color: red;
    /* color: white; */
  }
  
  .grey {
    color: grey;
    /* color: white; */
  }
  